<div>
    <div class="content-container">
        <button mat-flat-button id="yes-button" [mat-dialog-close]="true">Yes</button>
        <button mat-flat-button id="yes-button" [mat-dialog-close]="false">Yes</button>
    </div>
</div>