body{
    background: #c5c5c5 !important;
}
body, html,h1,h2,h3,h4,h5,h6,p,span{
    margin: 0 auto;
    padding: 0 auto;
    font: 16px;
    font-family: Arial, Helvetica, sans-serif;    
}
input {
    border: solid 1px #f06d06;
    height: 1.5em; 
    border-radius: 4px;
    background-clip: content-box; 
    background-color: rgb(224, 224, 224);
    line-height: 1.5;
    font-size: 20px;    
  }
 .container {
    background-color: #cccccc;       
}

.one-edge-shadow{
    -webkit-box-shadow: -1px 8px 6px -5px rgb(148, 148, 148);
    -moz-box-shadow: -1px 8px 6px -5px rgb(148, 148, 148);
         box-shadow: -2px 8px 6px -5px rgb(148, 148, 148);
}
.two-edge-shadow{
    -webkit-box-shadow: -2 8px 6px -2px #c5c5c5;
    -moz-box-shadow: 0 8px 6px -2px #c5c5c5;
         box-shadow: 0 8px 6px -2px #c5c5c5;
}
.custom-text{
    text-align: center; 
    padding: 20px;
 
}
hr{
    background-color:white
}