
<div class="container one-edge-shadow mb-4"> 
    <div class="container mt-4 two-edge-shadow">
        <h2 class="custom-text mt-4">Regiter Records</h2>
      </div>
      <hr>
<form [formGroup]="postData" (ngSubmit)="onSubmit()"> 
  <div class="row">  
    <input type="hidden" [(ngModel)]="addSalary.salaryId" name="addSalary.salaryId" id="salaryId" formControlName="salaryId">  
    <div class="col">
      <div class="form-group">
        <label for="DateOfWork">Date Of Work:*</label> 
        <div class="input-group">
                <input type="text" class="form-control" formControlName="dateOfWork" placeholder="YYYY-MM-DD"
                id="dateOfWork"  name="d" [(ngModel)]="addSalary.dateOfWork" ngbDatepicker #d="ngbDatepicker" 
                  >
                  <!--[placement]="placement" [positionTarget]="buttonEl"-->
                <div class="input-group-append">
                  <button #buttonEl class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                </div>                  
          </div>          
      </div>          
              <span *ngIf="postData.get('dateOfWork').hasError('required') && (postData.get('dateOfWork').dirty || postData.get('dateOfWork').touched)">
                <div class="alert alert-danger" role="alert">  
                      Date required  
                </div>
                </span>     
                <span *ngIf="postData.get('dateOfWork').hasError('dateVaidator')">
                  <div class="alert alert-danger" role="alert">  
                     Not valid date
                  </div>
              </span>     
    </div>
       
    <div class="col">
        <div class="form-group">
          <label for="AmountOfDay">Amount Of Day:*</label>   
          <input type="text" class="form-control" id="AmountOfDay" aria-describedby="AmountOfDay" placeholder="Amount Of Day"
            formControlName="amountOfDay" [(ngModel)]="addSalary.amountOfDay">
        </div>    
          <span *ngIf="postData.get('amountOfDay').hasError('required') && (postData.get('amountOfDay').dirty || postData.get('amountOfDay').touched)">
            <div class="alert alert-danger" role="alert">  
                  Amount required  
            </div>
          </span>     
          <span *ngIf="postData.get('amountOfDay').hasError('pattern')">
            <div class="alert alert-danger" role="alert">  
              Not valid amount, must start other than zero
            </div>
          </span>
    </div>
</div>
  <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="CashOfDay">Cash of Day:*</label>
            <input type="text" class="form-control" id="CashofDay" aria-describedby="CashofDay" placeholder="Cash Of Day"
            formControlName="cashOfDay" [(ngModel)]="addSalary.cashOfDay">
        </div>
        <span *ngIf="postData.get('cashOfDay').hasError('required') && (postData.get('cashOfDay').dirty || postData.get('cashOfDay').touched)">
          <div class="alert alert-danger" role="alert">  
                Amount required  
          </div>
        </span>
            <span *ngIf="postData.get('cashOfDay').hasError('pattern')">
              <div class="alert alert-danger" role="alert">  
                + or - must be with(-+zero not allowed)
              </div>
            </span>
    </div> 
    <div class="col">
        <div class="form-group">
          <label for="TipsOfDay">Tips of Day:*</label>    
            <input type="text"  class="form-control" id="TipsOfDay" aria-describedby="TipsOfDay" placeholder="Tips Of Day"
            formControlName="tipsOfDay" [(ngModel)]="addSalary.tipsOfDay">
        </div>
        <span *ngIf="postData.get('tipsOfDay').hasError('required') && (postData.get('tipsOfDay').dirty || postData.get('tipsOfDay').touched)">
          <div class="alert alert-danger" role="alert">  
             Amount required  
          </div>
        </span>
        <span *ngIf="postData.get('tipsOfDay').hasError('pattern')">
          <div class="alert alert-danger" role="alert">  
            0 or grater value required
          </div>
        </span>
    </div>
  </div>
  <div class="row">  
  <div class="col">
    <div class="form-group">              
      <button class="btn btn-primary mt-2" (click)="addData()" style="float:right" [disabled]='!postData.valid'>{{changeButtonText}}</button>
    </div>     
  </div>
</div>
<div style="height: 20px;"></div>
</form>
</div>


<div class="container one-edge-shadow mb-4"> 
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Date Of Work</th>
        <th scope="col">Amout Of Day</th>
        <th scope="col">Cash Of Day</th>
        <th scope="col">Tips Of Day</th>   
        <th scope="row">Operations</th>   
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let salary of salaries">
        <th scope="row">1</th>
        <td>{{salary.salaryId}}</td>
        <td>{{salary.dateOfWork}}</td>
        <td>{{salary.amountOfDay}}</td>
        <td>{{salary.cashOfDay}}</td>
        <td>{{salary.tipsOfDay}}</td>     
        <td><button class="btn btn-danger" (click)="onDeleteAction()">Delete</button> 
        <button class="btn btn-success" (click)="getSalary(salary.salaryId)">Update</button></td>    
      </tr>      
    </tbody>
  </table>
</div>
</div>